ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#app-mount {
  width: 600px;
}

.color-button {
  color: #999;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.color-icon {
	display: inline-block;
  width: 12px;
  height: 12px;
  background: rgba(0,0,0,0.8);
  cursor: pointer;
}

.color-warpper {
  font-size: 12px;
  position: absolute;
  width: 150px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  z-index: 99;
}

.color-mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 98;
}

.color-warpper .color-warpper-header {
  padding: 5px 0px;
  margin: 0 7px;
  border-bottom: 1px solid #ddd;
}

.color-warpper .color-warpper-content {
  padding: 8px 0px;
  margin: 0 7px;
}

.color-warpper .color-warpper-content li {
  display: inline-block;
  margin-right: 5px;
}